<!doctype html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
yello
<ul>
{% for i in data %}
    {% if i.img %}

    <ol><img src="{{ i.img.url }}" alt="{{ i.title}}" width="200"></ol>

    {% else %}
    <img src="{{ i.img_url }}" alt="{{ i.img_url }}" width="200">
    {% endif %}
{% endfor %}
    </ul>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
</body>
</html>